<%= '<pre>
  _______________
      |       \ |
      |        \|
                |
                |
                |
                |
                |
                |
               /|
______________/_|___
</pre>' if @game.gallows_count == 0 %>
<%= '<pre>
  _______________
      |       \ |
     _|_       \|
    /o o\       |
    \ - /       |
                |
                |
                |
                |
               /|
______________/_|___
</pre>' if @game.gallows_count == 1 %>
<%= '<pre>
  _______________
      |       \ |
     _|_       \|
    /o o\       |
    \ - /       |
      |         |
      |         |
                |
                |
               /|
______________/_|___
</pre>' if @game.gallows_count == 2 %>
<%= '<pre>
  _______________
      |       \ |
     _|_       \|
    /o o\       |
    \ - /       |
     /|         |
    / |         |
                |
                |
               /|
______________/_|___
</pre>' if @game.gallows_count == 3 %>
<%= '<pre>
  _______________
      |       \ |
     _|_       \|
    /o o\       |
    \ - /       |
     /|\        |
    / | \       |
                |
                |
               /|
______________/_|___
</pre>' if @game.gallows_count == 4 %>
<%= '<pre>
  _______________
      |       \ |
     _|_       \|
    /o o\       |
    \ - /       |
     /|\        |
    / | \       |
     /          |
    /           |
               /|
______________/_|___
</pre>' if @game.gallows_count == 5 %>
<%= '<pre>
  _______________
      |       \ |
     _|_       \|
    /o o\       |
    \ - /       |
     /|\        |
    / | \       |
     / \        |
    /   \       |
               /|
______________/_|___
</pre>' if @game.gallows_count == 6 %>

<%= '<h2>YOU KILLED HIM</h2>' if @game.gallows_count == 6 %>


<p><%= @game.placeholders.join(" ") %></p>
<p><%= @game.guessed_letters.join(", ") %></p>

<form action="/" method="post">
  <div class="form-group">
    <label for="guess">Next guess</label>
    <input id="guess" name="guess" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Submit!</button>
</form>
